@import '../../../../styles/colors.module.scss';

.header {
    background-color: black;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
  }
  .headerLogo {
    width: 180px;
    cursor: pointer;
  }

  .headerBtn {
    transition: 0.6s;
    &:hover {
      border-color: $lightRed;
      color: $lightGray;
      background-color: transparent;
    }
  }

  @media (max-width: 575px) {
    .headerContainer {
      padding: 20px 26px;
      gap: 20px;
    }
  }

  @media (max-width: 411px) {
    .headerContainer {
      justify-content: center;
    }
  }